body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 100%, rgba(237, 221, 83, 1) 100%);
    color: white;
    display: flex;             
    flex-direction: column; 
    justify-content: center;   
    align-items: center;       
    gap: 40px;                 
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.description {
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}


button {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 100);
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a05c;
}
